In [396]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [397]:
df = pd.read_csv('./dataset/All.csv')

C:\Users\ao322\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [398]:
pd.set_option('display.max_columns', 50)

In [399]:
df.head()

,Unnamed: 0,cm_mkey,cm_closed,cm_completionStatus,cm_hasSafetyRec,cm_highestInjury,cm_isStudy,cm_mode,cm_ntsbNum,cm_originalPublishedDate,cm_mostRecentReportType,cm_probableCause,cm_city,cm_country,cm_eventDate,cm_state,cm_agency,cm_boardLaunch,cm_boardMeetingDate,cm_docketDate,cm_eventType,cm_launch,cm_reportDate,cm_reportNum,cm_reportType,airportId,airportName,analysisNarrative,factualNarrative,prelimNarrative,cm_fatalInjuryCount,cm_minorInjuryCount,cm_seriousInjuryCount,accidentSiteCondition,cm_docketOriginalPublishDate,cm_recentReportPublishDate,make,model,registrationNumber,numberOfEngines,operatorName,registeredOwner,flightOperationType,flightScheduledType,revenueSightseeing,secondPilotPresent
0,NaN,78289.0,True,Completed,False,None,False,Aviation,OPS11IA273,2011-10-03T04:00:00Z,Final,The driver of the operation vehicle's misident...,Denver,USA,2010-12-31T21:34:00Z,CO,NTSB,0.0,NaN,NaN,INC,NaN,2011-10-03T04:00:00Z,NaN,DirectorBrief,KDEN,Denver Intrenational Airport,A runway incursion occurred when an aviation o...,"Air Canada Flight (ACA) number 1072, an Embrae...",NaN,0.0,0.0,0.0,IMC,2011-08-19T14:39:00Z,NaN,EMBRAER,ERJ190,C-FHKA,NaN,Air Canada,Air Canada,NaN,SCHD,False,True
1,NaN,78090.0,True,Completed,False,None,False,Aviation,ERA11LA105,2011-08-22T04:00:00Z,Final,The pilotâ€™s improper touchdown speed which res...,Dublin,USA,2010-12-31T17:30:00Z,NC,NTSB,0.0,NaN,NaN,ACC,NaN,2011-08-22T04:00:00Z,NaN,DirectorBrief,NC82,Dublin Field,The pilot was repositioning the airplane to an...,"On December 31, 2010, about 1630 eastern stand...",NaN,0.0,0.0,0.0,VMC,2011-06-23T18:17:00Z,NaN,CESSNA,172,N4383Q,1.0,Bladen Aviation Inc,Bladen Aviation Inc,PERS,NaN,False,False
2,NaN,78148.0,True,Completed,False,None,False,Aviation,WPR11CA097,2011-05-26T04:00:00Z,Final,The pilot's failure to maintain directional co...,Flagstaff,USA,2010-12-31T15:50:00Z,AZ,NTSB,0.0,NaN,NaN,ACC,NaN,2011-05-26T04:00:00Z,NaN,DirectorBrief,FLG,Flagstaff Pulliam Airport,After completing a local area flight in the ta...,The certificated private-pilot reported in his...,NaN,0.0,0.0,0.0,VMC,2011-02-07T16:29:00Z,NaN,CESSNA,180,N67F,1.0,NaN,NaN,PERS,NaN,False,True
3,NaN,78077.0,True,Completed,False,Fatal,False,Aviation,ERA11FA101,2012-11-26T05:00:00Z,Final,The inherent limitations of the see-and-avoid ...,Weyers Cave,USA,2010-12-31T15:26:00Z,VA,NTSB,0.0,NaN,NaN,ACC,Yes,2012-11-26T05:00:00Z,NaN,DirectorBrief,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,VMC,2012-10-03T19:02:00Z,NaN,CESSNA,172H,N2876L,1.0,PRICE MICHAEL W,PRICE MICHAEL W,PERS,NaN,False,False
4,NaN,78077.0,True,Completed,False,Fatal,False,Aviation,ERA11FA101,2012-11-26T05:00:00Z,Final,The inherent limitations of the see-and-avoid ...,Weyers Cave,USA,2010-12-31T15:26:00Z,VA,NTSB,0.0,NaN,NaN,ACC,Yes,2012-11-26T05:00:00Z,NaN,DirectorBrief,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,VMC,2012-10-03T19:02:00Z,NaN,EUROCOPTER DEUTSCHLAND GMBH,EC 135 P2,N312PH,2.0,PHI Inc,PHI INC,POSI,NaN,False,False

In [400]:
df.shape

(19902, 46)

In [401]:
df = df[['cm_hasSafetyRec', 'cm_probableCause', 'cm_city', 'cm_country', 'cm_eventDate', 'cm_state', 'cm_agency', 
        'cm_eventType', 'airportId', 'airportName', 'analysisNarrative', 'factualNarrative', 'cm_fatalInjuryCount', 
        'cm_minorInjuryCount', 'cm_seriousInjuryCount', 'accidentSiteCondition', 'make', 'model', 'registrationNumber', 
        'numberOfEngines', 'operatorName', 'registeredOwner', 'flightOperationType', 'flightScheduledType',
        'revenueSightseeing', 'secondPilotPresent']]

In [402]:
df.columns

Index(['cm_hasSafetyRec', 'cm_probableCause', 'cm_city', 'cm_country',
       'cm_eventDate', 'cm_state', 'cm_agency', 'cm_eventType', 'airportId',
       'airportName', 'analysisNarrative', 'factualNarrative',
       'cm_fatalInjuryCount', 'cm_minorInjuryCount', 'cm_seriousInjuryCount',
       'accidentSiteCondition', 'make', 'model', 'registrationNumber',
       'numberOfEngines', 'operatorName', 'registeredOwner',
       'flightOperationType', 'flightScheduledType', 'revenueSightseeing',
       'secondPilotPresent'],
      dtype='object')

In [403]:
df.isnull().sum()

cm_hasSafetyRec              0
cm_probableCause          5144
cm_city                      7
cm_country                   0
cm_eventDate                 0
cm_state                  3308
cm_agency                   52
cm_eventType                 2
airportId                 7737
airportName               7629
analysisNarrative         5503
factualNarrative          3447
cm_fatalInjuryCount        146
cm_minorInjuryCount        146
cm_seriousInjuryCount      146
accidentSiteCondition     3308
make                        27
model                       36
registrationNumber          31
numberOfEngines           3066
operatorName              9289
registeredOwner           9218
flightOperationType       3735
flightScheduledType      17868
revenueSightseeing        2199
secondPilotPresent        3157
dtype: int64

In [404]:
df[(df['cm_fatalInjuryCount'].isnull()) & (df['cm_minorInjuryCount'].isnull()) & (df['cm_seriousInjuryCount'].isnull())]
# all 3 columns have the same 146 null rows.  will delete rows in next cells

,cm_hasSafetyRec,cm_probableCause,cm_city,cm_country,cm_eventDate,cm_state,cm_agency,cm_eventType,airportId,airportName,analysisNarrative,factualNarrative,cm_fatalInjuryCount,cm_minorInjuryCount,cm_seriousInjuryCount,accidentSiteCondition,make,model,registrationNumber,numberOfEngines,operatorName,registeredOwner,flightOperationType,flightScheduledType,revenueSightseeing,secondPilotPresent
10366,False,The captainâ€™s inadvertent turn onto the incorr...,San Francisco,USA,2016-12-14T18:43:00Z,CA,NTSB,INC,SFO,SAN FRANCISCO INTL,The runway incursion occurred when a CRJ inadv...,"On December 14, 2016, about 1743 Pacific stand...",NaN,NaN,NaN,VMC,BOMBARDIER INC,CL 600 2B19,N986SW,2.0,SKYWEST AIRLINES INC,WELLS FARGO BANK NORTHWEST NA TRUSTEE,NaN,SCHD,False,True
10367,False,The captainâ€™s inadvertent turn onto the incorr...,San Francisco,USA,2016-12-14T18:43:00Z,CA,NTSB,INC,SFO,SAN FRANCISCO INTL,The runway incursion occurred when a CRJ inadv...,"On December 14, 2016, about 1743 Pacific stand...",NaN,NaN,NaN,VMC,BOEING,737,UNK,NaN,UNITED AIR LINES INC,Unk,NaN,SCHD,False,True
10571,False,The air traffic controller issuing the aircra...,Westfield,USA,2016-10-21T08:22:00Z,MA,NTSB,INC,BAF,WESTFIELD-BARNES RGNL,The air traffic control tower was operating wi...,"On October 21, 2016, at about 0822 eastern day...",NaN,NaN,NaN,IMC,DOUGLAS,DC 9 83,N425NV,NaN,ALLEGIANT AIR LLC,SUNRISE ASSET MANAGEMENT LLC,NaN,NSCH,False,True
11829,False,The air traffic controller's decision to clear...,Honolulu,USA,2016-02-25T16:48:00Z,HI,NTSB,INC,HNL,HONOLULU INTL,Runway 22 left/right and 26 left/right were be...,"On Friday, February 26, 2016 at 1548 Hawaii st...",NaN,NaN,NaN,VMC,CESSNA,172S,N269ME,1.0,NaN,NaN,PERS,NaN,False,False
11830,False,The air traffic controller's decision to clear...,Honolulu,USA,2016-02-25T16:48:00Z,HI,NTSB,INC,HNL,HONOLULU INTL,Runway 22 left/right and 26 left/right were be...,"On Friday, February 26, 2016 at 1548 Hawaii st...",NaN,NaN,NaN,VMC,CESSNA,208B,N865MA,1.0,SCHUMAN AVIATION CO LTD,SCHUMAN AVIATION CO LTD,NaN,NSCH,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19856,False,NaN,Sao Paulo,BR,2021-01-19T13:50:00Z,NaN,Other,INC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CESSNA,208,PP-MMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19860,False,NaN,Exeter,UK,2021-01-19T03:37:00Z,NaN,Other,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOEING,737,G-JMCY,NaN,West Atlantic,NaN,NaN,NaN,NaN,NaN
19892,False,NaN,Mexico City,MX,2021-01-04T01:35:00Z,NaN,Other,INC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOEING,787-8,N782AM,2.0,Wells Fargo Trust CO NA,NaN,NaN,NaN,NaN,NaN
19900,False,NaN,Pulau Indah,MY,2021-01-01T05:00:00Z,OF,Other,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROBINSON,R66,9M-SAW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19901,False,NaN,Monts De Lam,CD,2021-01-01T00:58:00Z,OF,Other,OCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AIRBUS,A330,F-GZCJ,2.0,Air France,NaN,POSI,SCHD,False,True

In [405]:
df[df['cm_fatalInjuryCount'].isnull()].index

Int64Index([10366, 10367, 10571, 11829, 11830, 12025, 13193, 13194, 14313,
            14314,
            ...
            19811, 19820, 19832, 19834, 19855, 19856, 19860, 19892, 19900,
            19901],
           dtype='int64', length=146)

In [406]:
df.drop(index=df[df['cm_fatalInjuryCount'].isnull()].index, inplace=True)

In [407]:
df.shape

(19756, 26)

In [408]:
new_columns_dict = {
    'cm_hasSafetyRec': 'has_safety_rec',
    'cm_probableCause': 'probable_cause',
    'cm_city': 'city',
    'cm_country': 'country',
    'cm_eventDate': 'date',
    'cm_state': 'state',
    'cm_agency': 'agency',
    'cm_eventType': 'event_type',
    'airportId': 'airport_id',
    'airportName': 'airport_name',
    'analysisNarrative': 'analysis_narrative',
    'factualNarrative': 'factual_narrative',
    'cm_fatalInjuryCount': 'fatalities',
    'cm_minorInjuryCount': 'minor_injuries',
    'cm_seriousInjuryCount': 'serious_injuries',
    'accidentSiteCondition': 'flight_condition',
    'make': 'make',
    'model': 'model',
    'registrationNumber': 'registration',
    'numberOfEngines': 'engine_count',
    'operatorName': 'operator',
    'registeredOwner': 'owner',
    'flightOperationType': 'flight_operation',
    'flightScheduledType': 'flight_scheduling', 
    'revenueSightseeing': 'sightseeing',
    'secondPilotPresent': 'second_pilot'
}

df.rename(columns=new_columns_dict, inplace=True)

In [409]:
df.isnull().sum()

has_safety_rec            0
probable_cause         5006
city                      7
country                   0
date                      0
state                  3208
agency                   52
event_type                2
airport_id             7614
airport_name           7502
analysis_narrative     5365
factual_narrative      3309
fatalities                0
minor_injuries            0
serious_injuries          0
flight_condition       3171
make                     27
model                    36
registration             31
engine_count           2943
operator               9208
owner                  9114
flight_operation       3597
flight_scheduling     17750
sightseeing            2075
second_pilot           3026
dtype: int64

In [410]:
df['probable_cause'].str.contains('N/A').value_counts()

False    14750
Name: probable_cause, dtype: int64

In [411]:
df['probable_cause'].fillna('N/A', inplace=True)

In [412]:
df = df[df['country'] == 'USA']

In [413]:
df.shape

(16473, 26)

In [414]:
df.isnull().sum()

has_safety_rec            0
probable_cause            0
city                      4
country                   0
date                      0
state                    50
agency                   48
event_type                2
airport_id             4997
airport_name           4924
analysis_narrative     2171
factual_narrative      2758
fatalities                0
minor_injuries            0
serious_injuries          0
flight_condition        419
make                      6
model                     5
registration              8
engine_count            845
operator               7529
owner                  7335
flight_operation       1091
flight_scheduling     15222
sightseeing             258
second_pilot            956
dtype: int64

In [415]:
df.drop(columns='engine_count', inplace=True)

In [416]:
df.drop(index=df[df['city'].isnull()].index, inplace=True)

In [417]:
df.drop(index=df[df['make'].isnull()].index, inplace=True)

In [418]:
df.loc[[55, 1786, 3654, 4009, 10976, 12089, 15812], 'state'] = 'VI'
df.loc[[90, 771, 881, 1104, 1912, 2146, 3274, 4117, 4916, 8167, 8685, 10158, 15793, 17972], 'state'] = 'GOM'
df.loc[[1330, 2155, 8448, 9548, 9940, 12379, 12916, 13748], 'state'] = 'GU'
df.loc[[2562], 'state'] = 'Unk'
df.loc[[3116], 'state'] = 'AL'
df.loc[[3373, 5336, 5849, 6128, 7285, 8092, 9599], 'state'] = 'LA'
df.loc[[3850, 5859, 7250, 12525, 16211, 16681], 'state'] = 'NMI'
df.loc[[14552], 'state'] = 'PO'

# researched locations of aviation accidents to fill null state values

In [419]:
df.drop(index=7284, inplace=True)  # took place in Canada, not USA

In [420]:
df.drop(index=14888, inplace=True)  # took place in Ecuador, not USA

In [421]:
df.drop(index=15660, inplace=True)  # no information except of a crash

In [422]:
df.drop(columns='agency', inplace=True)  # no distinguishing information

In [423]:
df.drop(index=df[df['event_type'] == 'OCC'].index, inplace=True)  # no information in observation and too many nulls

In [424]:
df.drop(index=df[df['event_type'].isnull()].index, inplace=True)  # only losing two rows

In [425]:
df.drop(columns='airport_id', inplace=True)  # keeping airport name and these would be same information

In [426]:
df['airport_name'].value_counts().head(60)

Private                           149
Private Airstrip                   78
None                               35
PVT                                28
RENO/STEAD                         18
Private Strip                      18
PHOENIX DEER VALLEY                13
NORTH PERRY                        13
Phoenix Deer Valley Airport        12
PRIVATE                            12
LAKE HOOD                          12
VAN NUYS                           12
North Las Vegas                    12
Centennial                         12
Falcon Field Airport               11
Phoenix Deer Valley                10
NORTH LAS VEGAS                    10
Wittman Regional Airport           10
Centennial Airport                 10
Private airstrip                   10
MIAMI EXECUTIVE                    10
FALCON FLD                         10
GREELEY-WELD COUNTY                10
SNOHOMISH COUNTY (PAINE FLD)       10
NONE                               10
CENTENNIAL                         10
Fort Lauderdale Executive          10
REID-HILLVIEW OF SANTA CLARA C      9
CARSON                              9
CAMARILLO                           9
ALBERT WHITTED                      9
Chino                               9
MONTGOMERY-GIBBS EXECUTIVE          9
CHANDLER MUNI                       9
ARLINGTON MUNI                      9
North Perry Airport                 9
David Wayne Hooks Memorial          9
MERRILL FIELD                       9
MINDEN-TAHOE                        9
SEDONA                              9
Chandler Municipal Airport          9
Caldwell Industrial                 8
Sedona Airport                      8
SAN ANTONIO INTL                    8
Rocky Mountain Metropolitan         8
BOZEMAN YELLOWSTONE INTL            8
Meadow Lake Airport                 8
Brookhaven Airport                  8
TUCSON INTL                         8
Zamperini Field                     8
Sedona                              8
RYAN FIELD                          8
WICKENBURG MUNI                     8
VANCE BRAND                         8
FULLERTON MUNI                      7
NORTHEAST FLORIDA RGNL              7
GILLESPIE FIELD                     7
Dekalb-Peachtree Airport            7
Falcon Field                        7
CHINO                               7
Name: airport_name, dtype: int64

In [427]:
df['airport_name'] = df['airport_name'].str.strip()

In [428]:
df['airport_name'] = df['airport_name'].str.upper()

In [429]:
df['airport_name'].sort_values().value_counts().head(60)

PRIVATE                         164
PRIVATE AIRSTRIP                 93
NONE                             45
PVT                              29
RENO/STEAD                       25
PHOENIX DEER VALLEY              23
PRIVATE STRIP                    23
CENTENNIAL                       22
NORTH LAS VEGAS                  22
NORTH PERRY                      19
SEDONA                           17
CHINO                            16
VAN NUYS                         16
FORT LAUDERDALE EXECUTIVE        15
MIAMI EXECUTIVE                  15
MERRILL FIELD                    15
LAKE HOOD                        15
ROCKY MOUNTAIN METROPOLITAN      14
DAVID WAYNE HOOKS MEMORIAL       14
CALDWELL INDUSTRIAL              14
RYAN FIELD                       14
GREELEY-WELD COUNTY              13
MINDEN-TAHOE                     13
VANCE BRAND                      13
PHOENIX DEER VALLEY AIRPORT      12
CAMARILLO                        12
MEADOW LAKE                      12
ARLINGTON MUNI                   12
ALBERT WHITTED                   12
MONTGOMERY-GIBBS EXECUTIVE       12
FALCON FLD                       12
ZAMPERINI FIELD                  12
GILLESPIE FIELD                  12
SPRUCE CREEK                     11
SCOTTSDALE                       11
DEKALB-PEACHTREE                 11
FALCON FIELD AIRPORT             11
TALKEETNA                        11
SANTA PAULA                      11
CHANDLER MUNI                    11
CARSON                           10
SNOHOMISH COUNTY (PAINE FLD)     10
CENTENNIAL AIRPORT               10
REPUBLIC                         10
WITTMAN RGNL                     10
TRUCKEE-TAHOE                    10
ERNEST A LOVE FIELD              10
WITTMAN REGIONAL AIRPORT         10
PALM BEACH COUNTY PARK           10
CLEARWATER AIR PARK              10
SAN ANTONIO INTL                  9
FULLERTON MUNI                    9
WASILLA                           9
PORTLAND-HILLSBORO                9
GENERAL DICK STOUT FIELD          9
DEKALB-PEACHTREE AIRPORT          9
FAIRBANKS INTL                    9
NORTHEAST FLORIDA RGNL            9
FELTS FIELD                       9
BIRCHWOOD                         9
Name: airport_name, dtype: int64

In [430]:
df['airport_name'].fillna('UNKNOWN', inplace=True)

In [431]:
df.loc[df[df['airport_name'].str.contains('PRIV')].index, 'airport_name'] = 'PRIVATE AIRPORT'

In [432]:
df.loc[df[df['airport_name'].str.contains('PVT')].index, 'airport_name'] = 'PRIVATE AIRPORT'

In [487]:
df.isnull().sum()

has_safety_rec          0
probable_cause          0
city                    0
country                 0
date                    0
state                   0
event_type              0
airport_name            0
analysis_narrative      0
factual_narrative       0
fatalities              0
minor_injuries          0
serious_injuries        0
flight_condition        0
make                    0
model                   0
registration            0
operator                0
owner                   0
flight_operation        0
sightseeing           119
second_pilot          707
dtype: int64

In [434]:
df['analysis_narrative'].str.contains('N/A').value_counts()

False    14293
Name: analysis_narrative, dtype: int64

In [435]:
df['analysis_narrative'].fillna('N/A', inplace=True)

In [436]:
df['factual_narrative'].str.contains('N/A').value_counts()

False    13694
True         9
Name: factual_narrative, dtype: int64

In [437]:
df['factual_narrative'].fillna('N/A', inplace=True)

In [444]:
df[(df['factual_narrative'] != 'N/A') & (df['factual_narrative'].str.contains('N/A'))]
# check on the 9 columns that already had 'N/A' in the string.  All have narratives included

,has_safety_rec,probable_cause,city,country,date,state,event_type,airport_name,analysis_narrative,factual_narrative,fatalities,minor_injuries,serious_injuries,flight_condition,make,model,registration,operator,owner,flight_operation,flight_scheduling,sightseeing,second_pilot
3103,False,The pilotâ€™s failure to ensure that the governo...,Victoria,USA,2011-05-16T13:05:00Z,TX,ACC,UNKNOWN,"Shortly after departure, the pilot observed th...","On May 16, 2011, about 1305 central daylight t...",0.0,0.0,0.0,VMC,MD HELICOPTER,369E,N4278T,NaN,NaN,OWRK,NaN,False,False
3199,False,The flight crew's delayed deployment of the sp...,Chicago,USA,2011-04-26T13:33:00Z,IL,INC,CHICAGO MIDWAY,The flight was routine until nearing the Chica...,"HISTORY OF FLIGHT&#x0D;\n&#x0D;\nOn April 26, ...",0.0,0.0,0.0,IMC,BOEING,737-7Q8,N799SW,SOUTHWEST AIRLINES CO,CASTLE 2003-1A LLC,NaN,SCHD,False,True
3624,False,A total loss of engine power resulting from th...,Cross City,USA,2011-01-27T20:19:00Z,FL,ACC,UNKNOWN,The airplaneâ€™s engine lost power during cruise...,HISTORY OF FLIGHT&#x0D;\n&#x0D;\nOn January 27...,0.0,0.0,0.0,VMC,CIRRUS DESIGN CORP,SR22,N8135B,Deep South Express LLC,Deep South Express LLC,PERS,NaN,False,False
3702,False,the early rotation of the airplane to an angle...,Los Angeles,USA,2011-01-03T11:17:00Z,CA,ACC,LOS ANGELES,The crew reported that preflight preparation w...,"HISTORY OF FLIGHT&#x0D;\n&#x0D;\nOn January 3,...",0.0,0.0,0.0,VMC,BOEING,737-823,N831NN,American Airlines,AMERICAN AIRLINES INC,NaN,SCHD,False,True
7232,False,The pilot's failure to maintain adequate airsp...,Boonville,USA,2014-11-30T09:57:00Z,MO,ACC,JESSE VIERTEL MEMORIAL AIRPORT,The commercial pilot was on a cross-country fl...,According to available air traffic control dat...,1.0,0.0,3.0,VMC,BELLANCA,17-30A,N6629V,NaN,NaN,PERS,NaN,False,False
8735,False,The pilot/owner's failure to maintain the engi...,Guanica,USA,2015-12-19T12:20:00Z,PR,ACC,UNKNOWN,The sport pilot was conducting a cross-country...,"On December 19, 2015, about 1120 Atlantic stan...",0.0,0.0,0.0,VMC,PORRATA LUIS G,RANS S 12XL,N124LP,NaN,NaN,PERS,NaN,False,False
9900,False,The helicopter rescue specialist was not prope...,Austin,USA,2015-04-27T21:50:00Z,TX,ACC,UNKNOWN,"A helicopter with a pilot, a hoist operator, a...","HISTORY OF FLIGHT&#x0D;\n&#x0D;\nOn April 27, ...",1.0,0.0,0.0,VMC,EUROCOPTER DEUTSCHLAND GMBH,MBB BK 117 C-2,N392TC,Star Flight,TRAVIS COUNTY PURCHASING OFFICE,PUBL,NaN,False,False
18332,False,N/A,Johnson Valley,USA,2020-02-06T13:00:00Z,CA,INC,UNKNOWN,N/A,HISTORY OF FLIGHT&#x0D;\n&#x0D;\nOn February 6...,0.0,0.0,0.0,VMC,AEROSPATIALE,AS350BA,N611TC,Icon Helicopters Llc,Icon Helicopters Llc,AOBV,NaN,False,NaN
18333,False,N/A,Johnson Valley,USA,2020-02-06T13:00:00Z,CA,INC,UNKNOWN,N/A,HISTORY OF FLIGHT&#x0D;\n&#x0D;\nOn February 6...,0.0,0.0,0.0,VMC,DJI,Mavic,FA37NAYXP9,NaN,NaN,AOBV,NaN,False,False

In [452]:
df[(df['flight_condition'].isnull()) & (df['probable_cause'] == 'N/A') & (df['analysis_narrative'] == 'N/A') & (df['factual_narrative'] == 'N/A')]
# check to see how many of the nulls do not have a probable cause, analysis narrative, and factual narrative

,has_safety_rec,probable_cause,city,country,date,state,event_type,airport_name,analysis_narrative,factual_narrative,fatalities,minor_injuries,serious_injuries,flight_condition,make,model,registration,operator,owner,flight_operation,flight_scheduling,sightseeing,second_pilot
12105,False,N/A,Rio Oso,USA,2017-12-04T08:20:00Z,CA,ACC,UNKNOWN,N/A,N/A,0.0,1.0,0.0,NaN,BEECH,A36,N251E,NaN,NaN,PERS,NaN,False,False
12123,False,N/A,Truckee,USA,2017-11-30T16:40:00Z,CA,ACC,UNKNOWN,N/A,N/A,0.0,0.0,2.0,NaN,ROBINSON HELICOPTER COMPANY,R22,N47WH,TUMBLEWEED LEASING CO INC,TUMBLEWEED LEASING CO INC,PERS,NaN,False,True
12127,False,N/A,Atlanta,USA,2017-11-29T17:06:00Z,GA,INC,UNKNOWN,N/A,N/A,0.0,0.0,0.0,NaN,BOEING,737-932ER,N852DN,Delta Air Lines,DELTA AIR LINES INC,NaN,SCHD,False,True
12133,False,N/A,Jamaica,USA,2017-11-27T20:45:00Z,NY,ACC,JOHN F KENNEDY INTERNATIONAL,N/A,N/A,0.0,0.0,0.0,NaN,BOEING,777,SU-GDL,Egypt Airlines,Egypt Airlines,NaN,SCHD,False,True
12134,False,N/A,Jamaica,USA,2017-11-27T20:45:00Z,NY,ACC,JOHN F KENNEDY INTERNATIONAL,N/A,N/A,0.0,0.0,0.0,NaN,AIRBUS,A330,G-VRAY,Virgin Atlantic Airways LTD,Aercap,NaN,SCHD,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19709,False,N/A,Grand Haven,USA,2021-03-02T16:49:00Z,MI,ACC,MUSKEGON COUNTY,N/A,N/A,0.0,0.0,0.0,NaN,CESSNA,210,N6637X,NaN,LEALE BRIAN M,PERS,NaN,False,False
19743,False,N/A,Livermore,USA,2021-02-23T18:00:00Z,CA,ACC,LIVERMORE MUNI,N/A,N/A,0.0,0.0,0.0,NaN,MOONEY,M20E,N3254F,NaN,NaN,PERS,NaN,False,False
19756,False,N/A,Broomfield,USA,2021-02-20T14:09:00Z,CO,INC,UNKNOWN,N/A,N/A,0.0,0.0,0.0,NaN,BOEING,777-222,N772UA,United Airlines,United Airlines,NaN,SCHD,False,True
19761,False,N/A,Jeffersonville,USA,2021-02-18T20:05:00Z,IN,ACC,CLARK RGNL,N/A,N/A,0.0,0.0,0.0,NaN,GATES LEARJET CORP,55C,N559RA,ROYAL AIR FREIGHT INC,ROYAL AIR FREIGHT INC,POSI,NSCH,False,True
19841,False,N/A,Denton,USA,2021-01-23T15:46:00Z,NC,ACC,UNKNOWN,N/A,N/A,0.0,0.0,0.0,NaN,CESSNA,U206,C-GWAS,NaN,NaN,AOBV,NaN,NaN,True

In [453]:
df.drop(index=df[df['flight_condition'].isnull()].index, inplace=True)

In [464]:
df['operator'] = df['operator'].str.upper()

In [465]:
df['operator'] = df['operator'].str.strip()

In [467]:
df['operator'].fillna('UNKNOWN', inplace=True)

In [469]:
df['owner'] = df['owner'].str.upper()

In [470]:
df['owner'] = df['owner'].str.strip()

In [471]:
df['owner'].fillna('UNKNOWN', inplace=True)

In [475]:
df.drop(columns='flight_scheduling', inplace=True)

In [477]:
df.drop(index=df[df['registration'].isnull()].index, inplace=True)

In [486]:
df.drop(index=df[df['flight_operation'].isnull()].index, inplace=True)

In [488]:
df.drop(index=df[df['sightseeing'].isnull()].index, inplace=True)

In [489]:
df.drop(index=df[df['second_pilot'].isnull()].index, inplace=True)

In [490]:
df.isnull().sum()

has_safety_rec        0
probable_cause        0
city                  0
country               0
date                  0
state                 0
event_type            0
airport_name          0
analysis_narrative    0
factual_narrative     0
fatalities            0
minor_injuries        0
serious_injuries      0
flight_condition      0
make                  0
model                 0
registration          0
operator              0
owner                 0
flight_operation      0
sightseeing           0
second_pilot          0
dtype: int64

In [491]:
df.shape

(14322, 22)