In [1]:
import pandas as pd
import os

In [2]:
path = os.listdir('./dataset/') # getting path
df = pd.DataFrame(list())
df.to_csv('./dataset/All.csv') # create an empty csv

In [3]:
for i in path:
    if i != 'All.csv': # make sure it does not loop back to All.csv
        df = pd.read_csv('./dataset/All.csv') # read in All.csv
        
        df_temp = pd.read_json ('./dataset/'+i) # read in 'i' json file
        
        df_temp = df_temp.explode('cm_vehicles') # explode/tranform to a list
        df_x = (pd.DataFrame(df_temp['cm_vehicles'].apply(pd.Series))) # create list into its own DF
        
        # append new data from df_x
        df_temp['make'] = df_x['make']
        df_temp['model'] = df_x['model']
        df_temp['registrationNumber'] = df_x['registrationNumber']
        df_temp['numberOfEngines'] = df_x['numberOfEngines']
        df_temp['operatorName'] = df_x['operatorName']
        df_temp['registeredOwner'] = df_x['registeredOwner']
        df_temp['flightOperationType'] = df_x['flightOperationType']
        df_temp['flightScheduledType'] = df_x['flightScheduledType']
        df_temp['revenueSightseeing'] = df_x['revenueSightseeing'] 
        df_temp['secondPilotPresent'] = df_x['secondPilotPresent']
        
        df_temp.drop(columns='cm_vehicles', inplace=True) # drop column

        pd.concat([df, df_temp]).to_csv('./dataset/All.csv', index=False) # concat to All.csv

C:\Users\Henry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df = pd.read_csv('./dataset/All.csv') # read back in the full All.csv
df.drop(columns='Unnamed: 0', inplace=True)

C:\Users\Henry\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df.head()

,cm_mkey,cm_closed,cm_completionStatus,cm_hasSafetyRec,cm_highestInjury,cm_isStudy,cm_mode,cm_ntsbNum,cm_originalPublishedDate,cm_mostRecentReportType,...,make,model,registrationNumber,numberOfEngines,operatorName,registeredOwner,flightOperationType,flightScheduledType,revenueSightseeing,secondPilotPresent
0,78289.0,True,Completed,False,None,False,Aviation,OPS11IA273,2011-10-03T04:00:00Z,Final,...,EMBRAER,ERJ190,C-FHKA,NaN,Air Canada,Air Canada,NaN,SCHD,False,True
1,78090.0,True,Completed,False,None,False,Aviation,ERA11LA105,2011-08-22T04:00:00Z,Final,...,CESSNA,172,N4383Q,1.0,Bladen Aviation Inc,Bladen Aviation Inc,PERS,NaN,False,False
2,78148.0,True,Completed,False,None,False,Aviation,WPR11CA097,2011-05-26T04:00:00Z,Final,...,CESSNA,180,N67F,1.0,NaN,NaN,PERS,NaN,False,True
3,78077.0,True,Completed,False,Fatal,False,Aviation,ERA11FA101,2012-11-26T05:00:00Z,Final,...,CESSNA,172H,N2876L,1.0,PRICE MICHAEL W,PRICE MICHAEL W,PERS,NaN,False,False
4,78077.0,True,Completed,False,Fatal,False,Aviation,ERA11FA101,2012-11-26T05:00:00Z,Final,...,EUROCOPTER DEUTSCHLAND GMBH,EC 135 P2,N312PH,2.0,PHI Inc,PHI INC,POSI,NaN,False,False

In [7]:
df.shape

(19902, 45)